In [32]:
import numpy as np
import pandas as pd

In [33]:
df = pd.read_csv('data.csv')
df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [34]:
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imp_mean.fit(df.iloc[:, 1:3])

df.iloc[:, 1:3] = imputer.transform(df.iloc[:, 1:3])
df.head()

   Country   Age        Salary Purchased
0   France  44.0  72000.000000        No
1    Spain  27.0  48000.000000       Yes
2  Germany  30.0  54000.000000        No
3    Spain  38.0  61000.000000        No
4  Germany  40.0  63777.777778       Yes

In [39]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

le = LabelEncoder()
df = df.apply(le.fit_transform)
df.head()

   Country  Age  Salary  Purchased
0        0    7       7          0
1        2    0       0          1
2        1    1       2          0
3        2    4       4          0
4        1    6       5          1

In [40]:
x = df[df.columns[:-1]]
x.head()

   Country  Age  Salary
0        0    7       7
1        2    0       0
2        1    1       2
3        2    4       4
4        1    6       5

In [ ]:
y = df[df.columns[-1]]
y.head()

In [41]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=.2, random_state=42)

In [42]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.fit_transform(X_test)

X_train, X_test

(array([[-0.90453403, -1.09108945, -0.65465367],
        [-0.90453403,  1.09108945,  1.09108945],
        [-0.90453403,  1.52752523,  1.52752523],
        [ 0.30151134, -1.52752523, -1.09108945],
        [-0.90453403, -0.65465367,  0.65465367],
        [ 0.30151134,  0.65465367,  0.21821789],
        [ 1.50755672, -0.21821789, -0.21821789],
        [ 1.50755672,  0.21821789, -1.52752523]]), array([[-1.,  1.,  1.],
        [ 1., -1., -1.]]))